@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{

    box-sizing: border-box;
  
}
html{
    font-family: 'Bebas Neue', cursive;
    font-size: 62.5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,65,0.34545454545454546) 32%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
   }
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    padding: 15px;
    border-radius:20px;
   
    }
.calculadora{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid red;
    box-shadow: inset;
    border-radius: 20px;
}
.calculadora-display{
 padding: 25px 15px;
 width: 100%;
 text-align: right;
 border: 1px solid red;
 overflow: auto;
}
.calculadora-keypad{
 display: flex;
 width: 100%;
}
.calculadora-numeros{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}
.botones-de-numeros{
    width: 25%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid red;
    border-radius: 20px;

}
.botones-de-numeros:hover{
    background-color:red;
    transition: .25s;
    }